
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="/fileupload">Upload</a></li>
            <li role="presentation" ><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">My First Python App</h3>
      </div>

      <div class="jumbotron">
        <h1>Welcome to my App</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-primary btn-block" href="/fileupload" role="button">Upload your file</a></p>
      </div>


    </div>
  </body>
</html>

